img{
    margin: 0 auto;
}




        #splash {
            margin-top: 150%;
            transition: opacity 1.5s ease;
            transition-delay: 1.5s;
        }
        #splash h1{
            text-align: center;
        }
